.box{
    width: 400px;
    height: 400px;
    background-color: coral;
    padding: 16px;
}
.child{
    background:royalblue ;
    width: 50%;
    height: 50%;
}

input:invalid{
    outline: 1px solid red;
}
input:valid{
    outline: 1px solid greenyellow;
}