.container {
    display: grid;
    grid-template-columns: 200px 40rem 30%;
    grid-template-rows: 300px 40%;
    grid-auto-rows: 300px;
    gap: 16px;
    justify-content: center;
  }
  .item {
    /* if we use flex box then it will be following :- */
    /* display: flex;
    align-items: center;
    justify-content:center ; */
    /* if we use grid then it will be following :- */
    display: grid;
    place-content: center;
    background-color: lightblue;
    font-size: x-large;
    font-weight: 600;
  }
  
  .first {
    /* specifies how many coloumn will be there  */
    grid-column: span 2;
  }
  
  .second {
    /* specifies how many rows will be there  */
    grid-row: span 2;
  }